
.bm-overlay{
    z-index: 1000;
    width: 85%!important;
    height: 100%;
    background: rgb(255, 255, 255)!important;
    opacity: 1;
    transition: opacity 0.3s ease 0s;
    position: absolute!important;
    left: 0px!important;
    top: 0px!important;
    box-shadow: 1px 0 5px -2px #888;

}
